{{>default/header}}
  <body>
    <!-- Navigation -->
    {{>default/top-navigation}}
    <!-- Page Content -->
    <div class="container">

     {{{ body }}}
      <!-- /.row -->

    </div>
    <!-- /.container -->
{{>default/footer}}